@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-section ftco-cart">
	<div class="container">
		<div class="heading-page-cart text-center pt-3 pb-4">
			<h4 class="m-0">Giỏ hàng của bạn</h4>
		</div>
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					<table class="table">
						<thead class="thead-primary" style="background: #17a2b8;">
							<tr class="text-center">
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th>Tên sản phẩm</th>
								<th>Giá</th>
								<th>Kích thước</th>
								<th>Số lượng</th>
								<th>Tổng</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center">
								<td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>

                                <td class="image-prod"><img src="~/vega/pro_images/1_2b07728470ac48888e65cc4d13efc298_master.jpg" style="height: 100px" /></div></td>

								<td class="product-name">
									<h3>
										THỨC ĂN HẠT KHÔ GANADOR CHÓ LỚN GÀ XANH NGỌC
									</h3>
								</td>

								<td class="price">200.000đ</td>

								<td style="color: black;">
									2Kg
								</td>

				<td class="total">
					<div class="input-group">
						<button type="button" id="quantity-left" class="quantity-left-minus btn" data-type="minus" data-field="">
							<i class="ion-ios-remove"></i>
						</button>
						<input style="max-width:80px;" type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
						<button type="button" id="quantity-right" class="quantity-right-plus btn" data-type="plus" data-field="">
							<i class="ion-ios-add"></i>
						</button>
					</div>
				</td>
								<td class="total">$4.90</td>
							</tr><!-- END TR-->

						<tr class="text-center">
							<td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>

								<td class="image-prod"><img src="~/vega/pro_images/1_2b07728470ac48888e65cc4d13efc298_master.jpg" style="height: 100px" />
						</div></td>

						<td class="product-name">
							<h3>
								THỨC ĂN HẠT KHÔ GANADOR CHÓ LỚN GÀ XANH NGỌC
							</h3>
						</td>

						<td class="price">200.000đ</td>

						<td style="color: black;">
							2Kg
						</td>

						<td class="total">$4.90</td>
						<td class="total">$4.90</td>
						</tr><!-- END TR-->
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row justify-content-end">
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Coupon Code</h3>
					<p>Enter your coupon code if you have one</p>
					<form action="#" class="info">
						<div class="form-group">
							<label for="">Coupon code</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
					</form>
				</div>
				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Apply Coupon</a></p>
			</div>
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Estimate shipping and tax</h3>
					<p>Enter your destination to get a shipping estimate</p>
					<form action="#" class="info">
						<div class="form-group">
							<label for="">Country</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
						<div class="form-group">
							<label for="country">State/Province</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
						<div class="form-group">
							<label for="country">Zip/Postal Code</label>
							<input type="text" class="form-control text-left px-3" placeholder="">
						</div>
					</form>
				</div>
				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Estimate</a></p>
			</div>
			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Cart Totals</h3>
					<p class="d-flex">
						<span>Subtotal</span>
						<span>$20.60</span>
					</p>
					<p class="d-flex">
						<span>Delivery</span>
						<span>$0.00</span>
					</p>
					<p class="d-flex">
						<span>Discount</span>
						<span>$3.00</span>
					</p>
					<hr>
					<p class="d-flex total-price">
						<span>Total</span>
						<span>$17.60</span>
					</p>
				</div>
				<p><a href="checkout.html" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
			</div>
		</div>
	</div>
</section>
<style>
	.input-group {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.input-group-btn button {
		margin: 0;
	}

	#quantity-left, #quantity-right {
		padding:10px 20px;
		border-radius:initial;
	}
</style>