@model IEnumerable<LoaiSP>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Quản lí loại sản phẩm</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="LoaiSPController" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus"></i>Tạo mới</a>
        </div>
    </div>
    <br /><br />
    <table class="table table-bordered table-striped">
        <thead>
        <th>ID</th>
        <th>Tên</th>
        <th>Trạng thái</th>
        <th>Sửa</th>
        <th>Xóa</th>
        
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Ten</td>
                    <td>@item.TrangThai</td>
                    <td>
                        <a asp-action="Edit" asp-route-id=@item.Id class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                    </td>
                    <td>
                        <a asp-action="Delete" class="btn btn-primary"><i class="bi bi-trash3-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
