@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero-wrap hero-bread" style="background-image: url('/pro_images/anhfix.png');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="#">Trang chủ</a></span></p>
                <h1 class="mb-0 bread">Về chúng tôi</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section bg-light pb-0">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-shipped"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Miễn phí giao hàng</h3>
                        <span>Với đơn hàng > 500k tại Buôn Ma Thuột</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                        <span><i class="bi bi-hourglass-split"></i></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Nhanh</h3>
                        <span>Tiết kiệm thời gian</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-award"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Chất lượng cao</h3>
                        <span>Sản phẩm chất lượng</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-customer-service"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Hỗ trợ</h3>
                        <span>Hỗ trợ 24/7</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-0 d-flex justify-content-center align-items-center">
                <img src="https://geniiraw.com/wp-content/uploads/2021/09/MMO_5566-scaled.jpg" style="width:100%;" alt="Alternate Text" />
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4 text-center">Chào mừng đến Website Pethouses</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>
                        Pethouses với mục tiêu mang lại một chế độ dinh dưỡng thuần tự nhiên cho thú cưng với tất cả tình yêu thương và tôn trọng của chúng tôi dành cho chúng.
                    </p>
                    <p>
                        “Pethouses” – slogan của chúng tôi và cũng như phương châm “phòng bệnh hơn chữa bệnh”, hiểu được giá trị của chế độ ăn phù hợp với sinh lý của chó mèo – chúng tôi luôn muốn mang lại những sản phẩm hoàn toàn tự nhiên, không chứa chất bảo quản, hương liệu, chất độn hay hóa chất và mô phỏng lại bữa ăn của thú cưng trong tự nhiên với mục đích cải thiện chất lượng sức khỏe thể chất cho thú cưng tốt nhất.
                    </p>
                    <p>
                        Bên cạnh đó, mục tiêu cộng đồng của chúng tôi là cố gắng mang lại các giá trị tinh thần qua các bài viết chia sẻ về chế độ dinh dưỡng, sức khỏe và hành vi của thú cưng từ những nguồn chất lượng và tin cậy nhất đến tất cả mọi người trong cộng đồng thú cưng.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section img" style="background-image: url(/vega/pro_images/banner_collection.png);"></section>

