@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mb-5 ftco-animate">
				<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
					<div class="carousel-inner">
                        <div class="carousel-item active">
							<img src="~/vega/pro_images/1_2b07728470ac48888e65cc4d13efc298_master.jpg" class="d-block w-100" alt="...">
						</div>
                        <div class="carousel-item">
							<img src="~/vega/pro_images/1_42eb4e7ac2d04669886a51c96cd766a6_master.jpg" class="d-block w-100" alt="...">
						</div>
                        <div class="carousel-item">
							<img src="~/vega/pro_images/1_a2bff92357c949beae6cc690ccfd1897_master.png" class="d-block w-100" alt="...">
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<i class="bi bi-caret-left-fill"></i>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<i class="bi bi-caret-right-fill"></i>
					</button>
					<div class="carousel-indicators justify-content-sm-around" id="small-img">
						<a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"><img src="~/vega/pro_images/1_2b07728470ac48888e65cc4d13efc298_master.jpg" style="width:100px;" alt="..."></a>
						<a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"><img src="~/vega/pro_images/1_42eb4e7ac2d04669886a51c96cd766a6_master.jpg" style="width:100px;" alt="..."></a>
						<a data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"><img src="~/vega/pro_images/1_a2bff92357c949beae6cc690ccfd1897_master.png" style="width:100px;" alt="..."></a>
					</div>
				</div>
			</div>
			<style>
				.carousel-control-prev, .carousel-control-next{
					background-color: transparent;
					color: black;
					border: none;
					padding:0;
					font-size:20px;
				}

				.carousel-control-prev:hover, .carousel-control-next:hover{
					color:black;
				}

				#small-img{
					position:initial
				}

				#small-img a{
					border: 0.5px solid gray;
					padding: 0;
				}

				#small-img a:hover {
					border: 1px solid red;
				}

				.form-check-label{
					color:black;
				}
			</style>
			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
				<h3>Bell Pepper</h3>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="Radio" value="option1">
					<label class="form-check-label fw-bold">1 kg</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="Radio" value="option2">
					<label class="form-check-label fw-bold">2 kg</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="Radio" value="option3">
					<label class="form-check-label fw-bold">3 kg</label>
				</div>
				<p class="price m-0"><span>$120.00</span></p>
				<div class="row align-items-center">
					<div class="input-group col-md-6 d-flex">
						<span class="input-group-btn mr-2">
							<button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
								<i class="ion-ios-remove"></i>
							</button>
						</span>
						<input style="max-width:80px;" type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
						<span class="input-group-btn ml-2">
							<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
								<i class="ion-ios-add"></i>
							</button>
						</span>
					</div>
					<div class="col-md-6">
						<a href="cart.html" class="btn btn-black py-3 px-5">Add to Cart</a>
					</div>
				</div>
				<div class="mt-4">
					A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until.
				</div>
				<div class="product-service mt-3">
					<ul class="infoList-service">
						<li>
							<span>
								<img src="//theme.hstatic.net/1000356051/1001056962/14/product_deliverly_1_icons.png?v=355" alt="Cam kết 100% chính hãng">
							</span>
							Cam kết 100% chính hãng
						</li>
						<li>
							<span>
								<img src="//theme.hstatic.net/1000356051/1001056962/14/product_deliverly_2_icons.png?v=355" alt="Miễn phí vận chuyển
									 Trong 60 phút tại TP Buôn Ma Thuột với đơn hàng>599k

								Giao hàng toàn quốc từ 1-2 ngày">
							</span>
							Miễn phí vận chuyển
							<br>
							Trong 60 phút tại Hồ Chí Minh với đơn hàng &gt;599k
							<br>
							Giao hàng toàn quốc từ 1-2 ngày

						</li>
						<li>
							<span>
								<img src="//theme.hstatic.net/1000356051/1001056962/14/product_deliverly_3_icons.png?v=355" alt="Đổi sản phẩm nhanh trong 24h">
							</span>
							Đổi sản phẩm nhanh trong 24h
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var minusButton = document.querySelector('.quantity-left-minus');
		var plusButton = document.querySelector('.quantity-right-plus');
		var quantityInput = document.getElementById('quantity');

		minusButton.addEventListener('click', function () {
			var currentValue = parseInt(quantityInput.value);
			if (currentValue > 1) {
				quantityInput.value = currentValue - 1;
			}
		});

		plusButton.addEventListener('click', function () {
			var currentValue = parseInt(quantityInput.value);
			quantityInput.value = currentValue + 1;
		});
	});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>