@using ThoBayMau_ASM.Models;
@model TaiKhoan
@{
    ViewData["Title"] = "Login";
    // ViewData["Title"] = "Sign Up";
    Layout = null;
}


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đăng nhập</title>

    <link rel="stylesheet" href="~/cssdndk/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3" style="background-image: url('/wwwroot/assets/images/backgrounds/25a8f02e6aad6b6bff52a0c1a43e9d4a.jpg')">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="#" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="~/img/logo/9218e4dd8166e4c2e96ceac558b6a6a6.jpg" width="180" alt="" />
                                </a>
                                <form asp-action="Login" asp-controller="DangNhapDangKi" asp-route-returnUrl="@ViewBag.ReturnUrl" method="post" class="form">
                                    <div class="mb-3">
                                        <label class="form-label">Tên tài khoản</label>
                                        <input type="text" name="TenTK" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-4">
                                        <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                                        <input type="password" name="MatKhau" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <a class="text-primary fw-bold" href="#">Quên mật khẩu ?</a>
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Đăng nhập</button>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-bold">Chưa có tài khoản ?</p>
                                        <a class="text-primary fw-bold ms-2" href="~/DangNhapDangKi/Signup">Đăng ký</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>